
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.header {
    padding: 30px 0;
    background-color: rgb(200, 255, 255);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center; 
}

li {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: #000000;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
}